package layouts

templ App() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<script></script>
			<link rel="stylesheet" href="/style/output.css"/>
			<title>GoFullStack</title>
		</head>
		<body>
			<div class="text-3xl italic font-bold">This is from layout</div>
			{ children... }
		</body>
	</html>
}
